{% load static %} {% include 'residence/navbar.html' %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />

<header class="header-title">
  <h1>Imaginez votre prochain cocon</h1>
</header>

<section class="hero-image-section">
  <img src="{% static 'images/imagine_cocon.png' %}" alt="Salon moderne et confortable" />
</section>

<section class="benefit-statement">
  <div class="container">
    <h2>
      Chez vous, tout confort, sans effort : Locations meublées rapides et
      abordables.
    </h2>
  </div>
</section>

<section class="welcome-hero">
  <div class="welcome-text-overlay">
    <h2>Bienvenue chez Residence Ivoir</h2>
    <p>Ouvert 24/7</p>
    <p><a href="https://wa.me/2250787876981" class="whatsapp-link" target="_blank">Contactez nous sur whatsapp</a></p>
  </div>
</section>

<main>
  <section class="feature-focus">
    <div class="container feature-content">
      <h2>Confort Absolu, Zéro Tracas</h2>
      <p>
        Découvrez une vaste sélection de logements entièrement meublés, prêts à
        vous accueillir.
      </p>
      <a href="{% url 'residence_list' %}" class="btn btn-primary">Réserver</a>
    </div>
    <div class="feature-image">
      <img
        src="{% static 'images/confort_absolu.jpg' %}"
        alt="Intérieur d'appartement lumineux et décoré"
      />
    </div>
  </section>

  <section class="services-section">
    <div class="container">
      <h2 class="section-title-left">Nos services</h2>
      <div class="services-grid">
        <div class="service-item">
          <img
            src="{% static 'images/guided_tour.jpeg' %}"
            alt="Un agent immobilier faisant le tour guidé d'une résidence"
          />
          <h3>Visites guidées</h3>
          <p>Des visites guidées personnalisées</p>
          <a href="#" class="btn btn-primary more-info">Plus...</a>
        </div>
        <div class="service-item">
          <img
            src="{% static 'images/loaning_with_budget.jpg' %}"
            alt="Des pièces posées sur une table"
          />
          <h3>Location à la Carte</h3>
          <p>Choisissez la durée et les conditions qui vous conviennent.</p>
          <a href="#" class="btn btn-primary more-info">Plus...</a>
        </div>
        <div class="service-item">
          <img
            src="{% static 'images/at_your_side.jpeg' %}"
            alt="Agente de support client souriante avec casque"
          />
          <h3>À vos côtés</h3>
          <p>Disponible 24/7 pour toutes vos préoccupations</p>
          <a href="#" class="btn btn-primary more-info">Plus...</a>
        </div>
      </div>
    </div>
  </section>

  <section class="gallery-section">
    <div class="container">
      <div class="gallery-grid">
        <img src="{% static 'images/resi_show_1.jpeg' %}" alt="Intérieur de résidence 1" />
        <img src="{% static 'images/resi_show_2.jpeg' %}" alt="Intérieur de résidence 2" />
        <img src="{% static 'images/resi_show_3.jpeg' %}" alt="Intérieur de résidence 3" />
        <img src="{% static 'images/resi_show_4.jpeg' %}" alt="Intérieur de résidence 4" />
        <img src="{% static 'images/resi_show_5.jpeg' %}" alt="Intérieur de résidence 5" />
        <img src="{% static 'images/resi_show_6.jpeg' %}" alt="Intérieur de résidence 6" />
        <img src="{% static 'images/resi_show_7.jpeg' %}" alt="Intérieur de résidence 7" />
        <img src="{% static 'images/resi_show_8.jpeg' %}" alt="Intérieur de résidence 8" />
        <img src="{% static 'images/resi_show_9.jpeg' %}" alt="Intérieur de résidence 9" />
      </div>
    </div>
  </section>


  <section class="contact-section" id="Contact">
    <div class="container">
      <h2>Contactez-nous</h2>
      <p>
        Contactez-nous pour plus d'information ou pour arranger un rendez-vous
      </p>
      <form action="{% url 'whatsapp_contact_link' %}" method="post" class="contact-form">
        {% csrf_token %} {# Add CSRF token here #}
        <div class="form-group">
          <label for="name" class="sr-only">Nom</label>
          <input type="text" id="name" name="name" placeholder="Nom" />
        </div>
        <div class="form-group">
          <label for="prenom" class="sr-only">Prénom</label>
          <input type="text" id="prenom" name="prenom" placeholder="Prénom" />
        </div>
        <div class="form-group">
          <label for="question" class="sr-only">Votre question...</label>
          <textarea
            id="question"
            name="question"
            rows="4"
            placeholder="Votre question..."
          ></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Soumettre</button>
      </form>
    </div>
  </section>
</main>
{% include 'residence/footer.html' %}
